div[data-google-query-id] {
  display: none;
}

h12[data-adunit] {
  display: none;
}

.ad {
  display: none;
}

.c-ads {
  display: none;
}

.footer-ads {
  display: none;
}

.Arpian-ads {
  display: none;
  visibility: hidden;
}

#d_IL_INSEARCH, #container-47b04e4c352e2eb6a8e291b6ddf7e7e0 {
  display: none;
  visibility: hidden;
}

.bg-ssp-8017 {
  display: none;
  visibility: hidden;
}
